@page "/"
@using BlazorGinRummy.GinRummyGame.Helpers;
@using BlazorGinRummy.GinRummyGame.Models;
@inject GinRummyGameService ginRummyGameService;

<PageTitle>Index</PageTitle>

<h5>GAME SCORES</h5>
<p>Player one game score: @ginRummyGameService.PlayerOneGameScore</p>
<p>Player two game score: @ginRummyGameService.PlayerTwoGameScore</p>
<br />

@foreach (var msg in ginRummyGameService.GameStateMessage)
{
    <p><strong>@msg</strong></p>
}

<div class="player-hand">
    @foreach (var card in ginRummyGameService.HandPlayerOne)
    {
        <img src="@($"SVG-cards/{card.FullNameString()}.svg")" @onclick="@(async () => await CardInHandImgClicked(card))">
    }
</div>


@if(ginRummyGameService.IsPlayerOneTurn && ginRummyGameService.PlayerOnePickedUpCard != null)
{
    <div class="player-hand">
        <img width="60" height="60" src="@($"SVG-cards/{ginRummyGameService.PlayerOnePickedUpCard.FullNameString()}.svg")" @onclick="@(async () => await PickedUpCardImgClicked())">
    </div>
    }

<p>@ginRummyGameService.HandToString(ginRummyGameService.HandPlayerTwo)</p>
<br />

@if (ginRummyGameService.DiscardPile.Count > 0)
{
    <p>Discard Pile: @ginRummyGameService.DiscardPile.Last().ToString()</p>
    <div class="player-hand">
        <img width="60" height="60" src="@($"SVG-cards/{ginRummyGameService.DiscardPile.Last().FullNameString()}.svg")" @onclick="@(() => DiscardPileImgClicked())">
    </div>
    }
<br />
<p>@ginRummyGameService.HandToString(ginRummyGameService.HandPlayerOne)</p>
<br />

<br />

<button class="btn btn-primary" @onclick="@(() => DeckPickupButtonClicked())" disabled="@((!ginRummyGameService.IsPlayerOneTurn)||(ginRummyGameService.IsPlayerOneMakingFirstCardChoice))">Pick Up From Deck</button>

@if(!ginRummyGameService.IsGameOver)
{
    @if(ginRummyGameService.IsPlayerOneMakingFirstCardChoice)
    {
        <button class="btn btn-danger" @onclick="@(() => PassButtonClicked())" disabled="@(!ginRummyGameService.IsPlayerOneTurn)">Pass Turn</button>
    }
    @if(ginRummyGameService.CanPlayerOneKnock && !ginRummyGameService.IsPlayerOneStillPlaying)
    {
        <button class="btn btn-danger" @onclick="@(() => KnockButtonClicked())" disabled="@(!ginRummyGameService.IsPlayerOneTurn)">Knock (END GAME)</button>
        <button class="btn btn-secondary" @onclick="@(() => KeepPlayingButtonClicked())" disabled="@(!ginRummyGameService.IsPlayerOneTurn)">Don't Knock (KEEP PLAYING)</button>
    }
}
else
{
    <br />
    <strong>ROUND SCORING</strong>
    <p>Player one round score: @ginRummyGameService.PlayerOneRoundScore</p>
    <p>Player two round score: @ginRummyGameService.PlayerTwoRoundScore</p>

    <br />
    <button class="btn btn-primary" @onclick="@(() => PlayAgainButtonClicked())">Play Again</button>
}

@code {
    private void PlayAgainButtonClicked()
    {
        if (!ginRummyGameService.IsGameOver) return;

        ginRummyGameService.StartNewGame();
    }

    private void KnockButtonClicked()
    {
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOneChoseKnock();
    }

    private void KeepPlayingButtonClicked()
    {
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOneChoseKeepPlaying();
    }

    private void DeckPickupButtonClicked()
    {
        if (ginRummyGameService.DidPlayerOnePickupCard) return;
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOnePickedUpCardFromDeck();
    }

    private void DiscardPileImgClicked()
    {
        if (ginRummyGameService.DidPlayerOnePickupCard) return;
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOnePickedUpCardFromDiscardPile();
    }

    private async Task PickedUpCardImgClicked()
    {
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOneChoseDiscard_DeckCard();
        StateHasChanged();

        if (ginRummyGameService.CanPlayerOneKnock) return;

        await SimpleAgentTurn();
    }

    private async Task CardInHandImgClicked(Card card)
    {
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (!ginRummyGameService.DidPlayerOnePickupCard) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOneChoseDiscard(ginRummyGameService.HandPlayerOne.IndexOf(card)); 
        StateHasChanged();

        if (ginRummyGameService.CanPlayerOneKnock) return;

        await SimpleAgentTurn();
    }

    private async Task SimpleAgentTurn()
    {
        await Task.Delay(1000); // Delay so that user can better see what decision the computer player made.
        ginRummyGameService.SimpleAgentPlaysHand();
        StateHasChanged();
    }

    private void PassButtonClicked()
    {
        if (ginRummyGameService.DidPlayerOnePickupCard) return;
        if (!ginRummyGameService.IsPlayerOneTurn) return;
        if (ginRummyGameService.IsGameOver) return;

        ginRummyGameService.PlayerOneChosePass();
    }
}

@*<GinRummyTest />*@
